<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trash Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4823A3291BE7BAEB0081ACDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4823A3421BE7BAEB0081ACDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4823A34D1BE7BAEB0081ACDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
